/* General */

:root {
  margin: 0;
  --bg-colour: hsl(16, 28%, 16%);
  --title-colour: hsl(50, 43%, 47%);
  --subtitle-colour: hsl(33, 66%, 76%);
  --text-colour: hsl(150, 8%, 95%);
  --link-hover: hsl(214, 92%, 29%);
  list-style-type: none;
  --font-pro: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-compact: "Inter Tight", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-colour);
  font-family: Outfit, sans-serif;
  color: var(--text-colour);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link {
  font-family: var(--font-mono);
  text-decoration: none;
  color: var(--text-colour);
}

a:visited {
  color: var(--text-colour);
}

a:hover {
  transition: all .1s;
  color: var(--link-hover);
}

/* HERO AREA */

#grid {
  margin: 0;
  display: grid;
  height: 2vw;
  grid-template-rows: 20.1707577375vh 44.5037353255vh 16.9690501601vh 3.9487726788vh 14.4076840982vh 100vh;
  grid-template-columns: 16.15% 67.71% 16.15%;
}

header {
  position: fixed;
  height: 9.0715048026vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(52, 35, 29, 0.9);
  backdrop-filter: blur(20px);
}

#navigation {
  position: fixed;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.05421686746987964rem + 1.2048192771084336vw, 1.5rem);
  margin-inline: 16.15%;
  padding-top: 3.7359765208vh;
  display: flex;
  width: 66.5%;
  justify-content: space-between;
}

#title {
  margin: 0;
  margin-left: -0.89vw;
  grid-area: 2/2;
  font-family: var(--font-pro);
  text-align: center;
  color: var(--title-colour);
  height: fit-content;
  font-size: 8.0625rem;
  font-size: clamp(8.0625rem, 0.012289156626508202rem + 13.939759036144576vw, 16.74rem);
}

#subtitle {
  margin: 0;
  grid-area: 2/2;
  font-family: var(--font-pro);
  color: var(--subtitle-colour);
  height: fit-content;
  margin-top: 14vw;
  margin-left: 29.5833333333vw;
  font-size: 4.0625rem;
  font-size: clamp(4.0625rem, 0.005156626506024331rem + 7.0257028112449795vw, 8.436rem);
}

#slogan {
  font-family: var(--font-mono);
  font-weight: 100;
  margin: 0;
  grid-area: 4/2;
  text-align: center;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.05421686746987964rem + 1.2048192771084336vw, 1.5rem);
}


#github-icon {
  stroke: var(--subtitle-colour);
  position: fixed;
  bottom: 1.5625em;
  left: 1.5625vw;
}

#github-icon:hover {
  stroke: var(--link-hover);
}

#linkedin-icon {
  stroke: var(--subtitle-colour);
  position: fixed;
  bottom: 1.625em;
  left: 3.6458333333vw;
}

#linkedin-icon:hover {
  stroke: var(--link-hover);
}

#mail-icon {
  stroke: var(--subtitle-colour);
  position: fixed;
  bottom: 1.5em;
  left: 5.9895833333vw;
}

#mail-icon:hover {
  stroke: var(--link-hover);
}

#github-icon, #linkedin-icon, #mail-icon, #arrow {
  width: 1.5104166667vw;
  height: 3.0949839915vh;
}


#arrow {
  transform: rotate(0.22turn);
  fill: var(--subtitle-colour);
  margin-left: 1.45875vw;

}

#contact-me {
  font-family: var(--font-pro);
  color: var(--subtitle-colour);
  margin-bottom: 0.3125em;
  font-size: 0.5rem;
  font-size: clamp(0.5rem, 0.03614457831325307rem + 0.8032128514056224vw, 1rem);
}


/* HERO END */

/* ABOUT ME */

#contact {
  margin-left: 6.7708333333vw;
  margin-top: 88.5805763074vh;
  grid-area: 6/1;
  opacity: 0;
  transition: opacity 230ms;
}

#contact {
  opacity: 1;
}

#about-me-desc {
  width: 31.3541666667vw;
  height: 12.5em;
  display: inline-block;
}

#about-me {
  margin-inline: 5.78vw;
  grid-area: 6/2;
  margin-top: 30.9498399146vh;
}

#a01 {
  font-family: var(--font-mono);
  font-weight: 100;
  display: inline;
  font-size: 0.6875rem;
  font-size: clamp(0.6875rem, -0.06626506024096379rem + 1.3052208835341366vw, 1.5rem);
}

#about-me-title {
  font-family: var(--font-pro);
  font-weight: 100;
  display: inline;
  color: var(--subtitle-colour);
  margin-right: 0.625rem;
  font-size: 0.6875rem;
  font-size: clamp(0.6875rem, -0.06626506024096379rem + 1.3052208835341366vw, 1.5rem);
}


#about-me-line {
  color: var(--subtitle-colour);
  display: inline-block;
  width: 22vw;
}

#about-me-text {
  margin-inline: 0;
  display: flex;
  font-family: var(--font-pro);
  width: 31.3541666667vw;
  font-size: 0.625rem;
  font-size: clamp(0.625rem, -0.07078313253012036rem + 1.2048192771084336vw, 1.375rem);
}
#cv-hyperlink {
  font-family: var(--font-pro);
  color: var(--subtitle-colour);
  float: right;
  font-size: 0.5625rem;
font-size: clamp(0.5625rem, 0.15662650602409645rem + 0.7028112449799195vw, 1rem);
}

#about-me-pic {
  float: left;
  width: 18.65vw;
  height: 18.65vw;
  margin-right: 2.25em;
  border-radius: 1.875em;
}
