/* General */

:root {
  margin: 0;
  --bg-colour: hsl(16, 28%, 16%);
  --title-colour: hsl(50, 43%, 47%);
  --subtitle-colour: hsl(33, 66%, 76%);
  --text-colour: hsl(150, 8%, 95%);
  --link-hover: hsl(214, 92%, 29%);
  list-style-type: none;
  --font-pro: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-compact: "Inter Tight", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

h1 {
  text-align: center;
}

#grid {
  margin: 0;
  display: grid;
  height: 100vh;
  align-items: center;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link {
  font-family: var(--font-mono);
  text-decoration: none;
  color: var(--text-colour);
}

a:visited {
  color: var(--text-colour);
}

a:hover {
  color: var(--link-hover);
  transform: all 0.1s;
}

header {
  position: fixed;
  height: 85px;
  width: 100vw;
  z-index: 1;
  background-color: rgba(52, 35, 29, 0.9);
  backdrop-filter: blur(20px);
}

#navigation {
  position: fixed;
  font-size: 24px;
  margin-inline: 16.15%;
  padding-top: 35.61px;
  display: flex;
  height: 85px;
  width: 66.5%;
  justify-content: space-between;
}

#login {
  display: grid;
  grid-template-rows: 52px 52px 52px;
  width: 326px;
  gap: 10px;
  height: 11.7rem;
  margin-inline: auto;
}

.textbox {
  display: flex;
}

label {
  display: inline-flex;
  padding: 12px;
  background: hsl(16, 28%, 27%);
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

svg {
  fill: var(--subtitle-colour);
  width: 28px;
  height: 28px;
  display: inline-block;
}

input {
  color: var(--text-colour);
  padding: 16px;
  width: 274px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background: hsl(16, 28%, 22%);
  border: none;
}

input:focus-visible {
  outline: none;
  background-color: hsl(16, 28%, 25%);
}

#one {
  grid-area: 1;
}
#two {
  grid-area: 2;
}
#three {
  grid-area: 3;
}
#three input {
  color: var(--bg-colour);
  width: 100%;
  background-color: var(--subtitle-colour);
  border-radius: 2px;
}

#three input:hover {
  background-color: hsl(33, 66%, 70%);
  cursor: pointer;
}
