/* General */

:root {
  margin: 0;
  --bg-colour: hsl(16, 28%, 16%);
  --title-colour: hsl(50, 43%, 47%);
  --subtitle-colour: hsl(33, 66%, 76%);
  --text-colour: hsl(150, 8%, 95%);
  --link-hover: hsl(214, 92%, 29%);
  list-style-type: none;
  --font-pro: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
  --font-compact: "Inter Tight", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-colour);
  font-family: var(--font-pro);
  color: var(--text-colour);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link {
  font-family: var(--font-mono);
  text-decoration: none;
  color: var(--text-colour);
}

a:visited {
  color: var(--text-colour);
}

a:hover {
  color: var(--link-hover);
}

#grid {
  margin: 0;
  display: grid;
  height: max-content;
  grid-template-rows: 101px 712px 92px max-content 83px;
  grid-template-columns: 16.15% 67.71% 16.15%;
}

header {
  position: fixed;
  height: 85px;
  width: 100vw;
  z-index: 2;
  background-color: rgba(52, 35, 29, 0.9);
  backdrop-filter: blur(20px);
}

#navigation {
  position: fixed;
  font-size: 24px;
  margin-inline: 16.15%;
  padding-top: 35.61px;
  display: flex;
  height: 85px;
  width: 66.5%;
  justify-content: space-between;
}

#big-image {
  width: 1920px;
  clip-path: inset(896px 0);
  grid-area: 2;
  margin-top: -183px;
  opacity: 20%;
}

h1 {
  grid-area: 2/2;
  z-index: 1;
  margin-top: auto;
  font-family: var(--font-pro);
  font-size: 94px;
  margin-bottom: 25px;
}


 /* ARTICLE INFO */

#article-info {
  width: 100%;
  margin: auto;
  grid-area: 3/2;
}

#author {
  margin-top: -4px;
  margin-left: 46px;
  background-color: var(--bg-colour);
  position: absolute;
  color: var(--subtitle-colour);
  font-family: var(--font-pro);
  font-weight: 100;
  display: inline-block;
  padding-inline: 10px;
}

#author-hr {
  display: block;
  color: var(--subtitle-colour);
  height: 0;
  width: 100%;
}

#date {
  margin-top: -22px;
  margin-left: 58.9%;
  background-color: var(--bg-colour);
  position: absolute;
  color: var(--subtitle-colour);
  font-family: var(--font-pro);
  font-weight: 100;
  display: inline-block;
  padding-inline: 10px;
}

 /* ARTICLE INFO END */

#textbox {
  grid-area: 4;
  background-color: hsl(15, 28%, 18%);
  width: 1920px;
  height: fit-content;
  padding-top: 24px;
  padding-bottom: 24px;
}

#textbox p {
  margin-inline: auto;
  width: 67.71%;
  font-size: 20px;
}

#footer-hr {
  color: var(--subtitle-colour);
  grid-area: 5/2;
  height: 0;
  width: 100%;
  margin: auto;
}
