@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #35241E;
}

#under-development {
    font-family: Outfit, sans-serif;
    color: #F1F3F2;
}


#developing-header {
    font-size: 69px;
    font-weight: 400;
    margin-top: 70vh;
    margin-left: 5.625rem;
}

#developing-text {
    margin-top: -3rem;
    margin-left: 5.625rem;
    font-size: 38px;
    font-weight: 200;
}

#developing-image {
    height: 100vh;
    top: 0;
    right: 0;
    position: absolute;
}