@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #35241E;
}

html {
    scroll-behavior: smooth;
  }

a:link {
    text-decoration: none;
    color: #F1F3F2;
}

a:visited {
color: #F1F3F2;
}

a:hover {
color: #06418D;
}


#navigation {
    margin-left: 32px;
}

#navbar {
    font-family: Outfit, sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #F1F3F2;
    display: inline-block;
    margin-top: 5.25rem;
    margin-left: 16.125rem;
}

#title {
    font-family: Outfit, sans-serif;
    font-size: 290px;
    font-weight: 700;
    text-align: center;
    color: #AA9944;
    margin-bottom: 0;
    margin-top: 5.78125rem;
}

#subtitle {
    font-family: Outfit, sans-serif;
    font-size: 145px;
    font-weight: 700;
    color: #EAC598;
    text-align: right;
    margin-top: -4.375rem;
    margin-right: 290px;
}

#slogan {
    font-family: Outfit, sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #F1F3F2;
    text-align: center;
    margin-top: -2.5rem;
}

#about-me {
    height: 920px;
    padding: 0em 0.625em;
    font-family: Outfit, sans-serif;
    /* border: 5px solid gray; */

}

#about-me-title {
    font-size: 48px;
    font-weight: 400;
    color: #EAC598;
    margin-left: 59.5rem;
    margin-top: -577px;
}

#about-me-pic {
    width: 36.5em;
    margin-top: 10.5em;
    margin-left: 17.75em;
    margin-right: 4.1875em;

}

#about-me-text {
    font-size: 36px;
    font-weight: 400;
    color: #F1F3F2;
    inline-size: 40.4375rem;
   /* border: 5px solid orange;     */
    margin-left: 59.5rem;
}

#cv-hyperlink {
    font-size: 36px;
    font-weight: 400;
    color: #EAC598;
    margin-left: 59.5rem;
}